.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: row;
}
.button{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
